@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);

  background-color: v.$color-bg-primary;

  @include m.respond(lg-phone) {
    display: flex;
    flex-direction: column;
  }

  @include m.respond(tab-port) {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: repeat(3, auto);
    
  }
}

.section {
  padding: 2rem;
}

.error-message {
  color: red;
  font-size: v.$font-size-sm;
  letter-spacing: 3px;
  white-space: nowrap;
  @include m.respond(tab-port) {
   white-space: normal;
  }
}

