@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);

  background-color: v.$color-bg-primary;

  @include m.respond(lg-phone) {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, auto);
  }
  @include m.respond(tab-port) {
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

.section {
  padding: 2rem;
}

.section-random__test {
    border: solid black;
    height: 20rem;
    text-align: center;
    
}

