@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;


.nav {
  background-color: none;
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem;
  background-color: rgb(51, 51, 51);

  @include m.respond(tab-port) {
    display: none;
  }
  

  &__link {
    text-decoration: none;
    color: v.$color-text-primary;
    transition: color 0.3s ease;
    font-size: 2.3rem;

    &--active {
      @include m.rainbow-icons();
    }
    

    &:hover {
      @include m.rainbow-icons();
    }
  }
}
