@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../base/animations";

.section--random__loading-spinner {
  margin: 5rem auto;
  text-align: center;
  height: 6rem;
  width: 4.5rem;
  fill: none;
  stroke: black;
  animation: rotate 2s infinite linear, rainbow 6s infinite linear;
  @include m.center;
}
